<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>main.html</title>
    </head>
    <body>
        <h1>main page</h1>
        <h3>welcome, <%= email %> !!</h3>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae inventore, eius fugiat cumque vitae sit obcaecati reprehenderit rem ullam, suscipit commodi iusto necessitatibus incidunt illum nulla eaque deleniti? Fugit, quo.
        </p>
        <img src="images/crong.jpeg" alt="" width="300px">
        <script src="main.js"></script>
    </body>
</html>