<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>weclome!</title>
    </head>
    <body>
       <h1>Welcome !! <%= name %></h1>
       <p>가입을 축하드립니다. ^^</p>
    </body>
</html>